

.main a {
    text-decoration: none;
    color: inherit;
}

body{
    margin:0 auto;
    width: auto;
}


h1 {
    font: bold 100px  Oswald;
    text-decoration: none;
    text-align: center;
    color: whitesmoke;
    margin-top: 100px;
}
h2 {
    color: orange;
    font-size: 50px;
    font-weight: bold;
}


.main .btn {
    background-color: transparent;
    font: bold 10px cursive;
    
}
    

.main {
    background-image: url(https://s3.amazonaws.com/codecademy-content/projects/move/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px;
    display: block;
    
}
.main p {
    color: white;
    font: bold 30px cursive;
    text-align: center;
    text-decoration: none;
}

button:hover {
    color: black;
    background-color: darkorange;
    font-family: cursive;
}
button {
    display:block;
    margin:0 auto;
    background-color: black;
    padding: 10px;
    font: bold 20px serif;
    background-color:black;
    color:white;
    font: bold 20px Garamond, serif;
    text-shadow: 5px 5px 4px grey;
}
.first {
    width: 100%;
    height: 350px;
    color: white;
    display: inline-block;
    margin: 0 auto;
    background-color: saddlebrown;
    
    
}
.box {
    text-align: center;
    display: inline;
    font: bold 20px serif;
    float: left;
    width: 300px;
    height:200px;
    margin: 2em;
    position: relative;
}
.box p {
    color: black;
    font-family: fantasy;
    font-size: 20px;
    text-align: center;
    padding: -10px;
}
.second {
    background-image: url(https://s3.amazonaws.com/codecademy-content/projects/move/feature.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 900px;
    margin-top: 43px;
    text-align: center;
}
.second h2 {
    color: white;
    font: bold 50px serif;
}
.rest {
    margin-top: -47px;
    display: block;
    height: 200px;
    padding-top: 50px;
    position: relative; top: 200px;
}
.third {
    text-align: center;
    background-color: saddlebrown;
    display: inline-block;
    width: 100%;
    height: 300px;
}
.newbox p {
    font: bold 25px fantasy;
}
